.slid-item {
    padding: 0px;
    height: 100vh;
    width: 100%;
}


.carousel {
    padding: 0px !important;
}

.slider .carousel-item {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    justify-content: center;
}
.carousel-inner{
    margin-left: 15px;
}

.slider .item-one {
    background-image: url('../Assets/img_bg_1.jpg');
}

.slider .item-two {
    background-image: url('../Assets/img_bg_2.jpg');
}

.slider .item-three {
    background-image: url('../Assets/img_bg_3.jpg');
}

.slider .carousel-item .Slid-item-quote {
    margin-top: 40vh;
    text-align: center;
    color: rgb(51, 46, 80);
}
.Slid-item-quote{
    max-width: 500px;
}

.btn-start {
    
    font-size: 20px;
    height: 40px;
    width: 150px;
    padding: 5px 20px;
    border: none;
    border: none;
    background-color: #cab7f7;
    color: #fff;
    border-radius: 20px;
    margin-top: 50px;
    transition: all 250ms ease-in-out;
    -webkit-box-shadow: 0px 5px 20px 1px #c2abf7;
    -moz-box-shadow: 0px 5px 20px 1px #c2abf7;
    box-shadow: 0px 5px 20px 1px #c2abf7;
    cursor: pointer;
}
.btn-start:hover{
    background-color: #a1b7f5;
    -webkit-box-shadow: 0px 5px 25px 5px #a1b7f5;
    -moz-box-shadow: 0px 5px 25px 5px #a1b7f5;
    box-shadow: 0px 5px 25px 5px #a1b7f5;


}
.btn-start:focus {
    border: none;
    outline: none;
}