.navbar{
    padding: 0px !important;
}
.navbar-brand{
    color: rgb(159, 169, 224) !important;
    padding: 10px !important;
    font-weight: bold;
}
.navbar-toggler{
    margin-right: 10px;
}
.logo{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    
}

.unAuth-navbar{
    padding: 0px;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px -13px 51px -2px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px -13px 51px -2px rgba(0,0,0,0.32);
    box-shadow: 0px -13px 30px -2px rgba(0,0,0,0.32);
}
.navbar-nav{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.navbar .container{
    padding: 0px !important;
}
.navbar-nav .nav-link{
    font-size: 18px;
    margin-left: 20px;
}
.navbar-item{
    /* padding: 10px; */
    margin-right: 20px;
    margin-left: 20px;
}
