.task-form-container{
    min-height: 400px;
}



.sub-btn {
    font-size: 20px;
    min-height: 40px;
    width: 150px;
    padding: 5px 20px;
    border: none;
    background-color: #cab7f7;
    color: #fff;
    border-radius: 20px;
    margin-top: 50px;
    transition: all 250ms ease-in-out;
    -webkit-box-shadow: 0px 5px 20px 1px #c2abf7;
    -moz-box-shadow: 0px 5px 20px 1px #c2abf7;
    box-shadow: 0px 5px 20px 1px #c2abf7;
    cursor: pointer;
}

.sub-btn:hover {
    background-color: #a1b7f5;
    -webkit-box-shadow: 0px 5px 25px 5px #a1b7f5;
    -moz-box-shadow: 0px 5px 25px 5px #a1b7f5;
    box-shadow: 0px 5px 25px 5px #a1b7f5;

}

.sub-btn:focus {
    outline: none;
}